.construction_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.ingridient_container {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  overflow-y: scroll;
  max-height: 400px;
  row-gap: 16px;
}

.burger_locked {
  max-width: 536px;
  background: rgba(28, 28, 33, 1);
}
